<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>로그인 후 페이지</title>
</head>

<body>
    <div>
        <h2>
            <%= userName %>님 환영합니다 !
        </h2>
    </div>
    <div>
    <span>
        <form action="/page/customer" method="get">
            <input type="hidden" name="userName" value="<%= userName %>">
            <input type="hidden" name="page" value="<%= page %>">
            <button>고객관리</button>
        </form>

        <form action="/page/product" method="get">
            <input type="hidden" name="userName" value="<%= userName %>">
            <input type="hidden" name="page" value="<%= page %>">
            <button>상품관리</button>
        </form>

        <form action="/page/sales" method="get">
            <input type="hidden" name="userName" value="<%= userName %>">
            <input type="hidden" name="page" value="<%= page %>">
            <button>매출관리</button>
        </form>
    </span>

    </div>

    <div>
        <h3> 선택했던 화면 : <%= page %> </h3>
        <form action="/page/login2" method="get">
            <button>로그아웃</button>            
        </form>
    </div>
</body>

</html>